@charset "utf-8";
* { margin:0; padding:0; box-sizing:border-box }
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block; }
a { vertical-align:baseline; text-decoration:none; color:inherit; display:inline-block; }
img { border:0; max-width:100%; vertical-align:middle; }
table { border-collapse:collapse; width:100%; table-layout: fixed;}
input, select { vertical-align:middle; }
button, input[type=button] { background:none; cursor:pointer; }
fieldset { border:none; }
caption { display:none; }

/* list style */
ol, ul { list-style: none; }

/* clearfix */
.cf::before, .cf::after {
	content: "";
	display: block;
	clear:both;
}

/* 시각장애인의 접근성 고려 */
.blind { position:absolute; width:1px; height:1px; overflow:hidden; text-indent:-9999px; font-size:0px; line-height:0px; }